.guitarras-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 768px) { 
     .guitarras-grid {
        grid-template-columns: repeat(2, 1fr);
     }
}

@media (min-width: 992px) { 
     .guitarras-grid {
        grid-template-columns: repeat(3, 1fr);
     }
}

.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.guitarra .contenido {
    padding: 1rem;
}

.guitarra .contenido h3 {
    color:  var(--primary);
    font-size: 2.6rem;
    text-transform: uppercase;
    margin: 1rem;
}


/* * Para poder quitar texto y definir la cantidadd de linea a mostrar...*/
.guitarra .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.guitarra .precio {
    color: var(--primary);
    font-size: 3.5rem;
    margin: 1rem 0;
    font-weight: 900;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.formulario select {
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--black);
    background-color: var(--primary);
    border-radius: 1rem;
}

.formulario input[type="submit"] {
    margin-top: 3rem;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 1rem;
    transition: .3s;
    border: none;
}

.formulario input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}